.tabs .tabs-list {
  display: flex;
  gap: 0;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
  border-bottom: 2px solid var(--neutral-200);
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  padding: 0.7em 1.2em;
  background-color: transparent;
  color: var(--dark-color);
  font-weight: 500;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  overflow: unset;
  white-space: unset;
  transition: color 0.2s, border-color 0.2s;
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button:hover {
  color: var(--brand-red);
  background-color: transparent;
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 3px solid var(--brand-red);
  background-color: transparent;
  color: var(--brand-red);
  font-weight: 700;
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: 0;
  padding: 24px 0;
  border: none;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
